{{!< default}}
<div class="post-content">
{{#post}}
    <p class="post-title">{{title}}</p>
    <article class="body">
        <section>{{content}}</section>
        <p>
            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY/MM/DD"}}</time>
        </p>
    </article>
{{/post}}
</div>